{% extends 'base.html' %}

{% block content %}

<h2>🧾 Prediction History</h2>

{% if data %}
<table class="table table-bordered">
    <tr>
        <th>Hours</th>
        <th>Result</th>
        <th>Date</th>
    </tr>

    {% for i in data %}
    <tr>
        <td>{{ i.hours }}</td>
        <td>{{ i.result }}</td>
        <td>{{ i.created_at }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="alert alert-warning">
    No history found. First add predictions.
</div>
{% endif %}

{% endblock %}