{% extends 'base.html' %}
{% block content %}

<section class="hero">

<div class="container">
<div class="row align-items-center" style="min-height:85vh;">

    <div class="col-lg-12 text-center">

        <span class="badge bg-info mb-3 px-3 py-2">
            AI Powered Education System
        </span>

        <h1 style="font-size:55px; font-weight:800; color:white;">
            Predict Student <span style="color:#00bfff;">Performance</span>
        </h1>

        <p style="color:#d1d5db; font-size:20px; margin-top:20px; max-width:800px; margin-left:auto; margin-right:auto;">
            ML-based system that analyzes study hours, attendance, sleep and previous marks to predict student exam performance with high accuracy.
        </p>

        <a href="/dashboard/">
            <button class="btn btn-info btn-lg mt-4 px-5 py-3">
                <i class="fa fa-chart-line"></i> Open Dashboard
            </button>
        </a>

    </div>

</div>
</div>

</section>

<!-- FEATURES -->
<section style="padding:80px 0;">
<div class="container">

<h2 class="text-center fw-bold mb-5">Why Use This System?</h2>

<div class="row g-4">

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            <i class="fa fa-brain fa-2x text-info"></i>
            <h5 class="mt-3">AI Prediction</h5>
            <p>Smart ML model for marks prediction.</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            <i class="fa fa-chart-line fa-2x text-info"></i>
            <h5 class="mt-3">Analytics</h5>
            <p>Graphs & performance tracking.</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            <i class="fa fa-bolt fa-2x text-info"></i>
            <h5 class="mt-3">Fast Result</h5>
            <p>Instant prediction system.</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center shadow-sm">
            <i class="fa fa-shield fa-2x text-info"></i>
            <h5 class="mt-3">Secure</h5>
            <p>User data protected system.</p>
        </div>
    </div>

</div>

</div>
</section>

<style>

.hero{
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url('https://images.unsplash.com/photo-1516321318423-f06f85e504b3');
    background-size:cover;
    background-position:center;
}

.card{
    border:none;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

</style>

{% endblock %}
