{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card p-4 shadow mx-auto" style="max-width:400px;">

        <h2 class="text-center mb-4">
            Login
        </h2>

        <form method="POST">

            {% csrf_token %}

            <input
                type="text"
                name="username"
                class="form-control mb-3"
                placeholder="Username"
                required
            >

            <input
                type="password"
                name="password"
                class="form-control mb-3"
                placeholder="Password"
                required
            >

            <button
                type="submit"
                class="btn btn-primary w-100"
            >
                Login
            </button>

        </form>

    </div>

</div>

{% endblock %}